/* BASE */
*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

:root{
--bg:#0f172a;
--card:#1e293b;
--text:#f8fafc;
--primary:#3b82f6;
}

body{
background:var(--bg);
color:var(--text);
display:flex;
min-height:100vh;
transition:.3s;
}

/* SIDEBAR */
.sidebar{
width:260px;
background:var(--card);
padding:20px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

/* PERFIL */
.foto img{width:70px;height:70px;border-radius:50%}
#nomeUsuario{padding:10px;width:100%}

/* MES */
.meses{
display:flex;
overflow-x:auto;
gap:10px;
padding:10px 0;
}

.meses button{
flex:0 0 auto;
padding:8px;
border-radius:8px;
background:#111;
color:#fff;
}

/* MAIN */
.conteudo{flex:1;padding:20px}

/* CARDS */
.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:10px;
}

.card{
background:var(--card);
padding:15px;
border-radius:12px;
transition:.2s;
}

.card:hover{transform:translateY(-3px)}

/* FORM */
.formulario{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:10px;
margin-top:20px;
}

/* TABLE */
table{width:100%;margin-top:20px}

/* MOBILE */
@media(max-width:768px){
.sidebar{width:100%}
body{flex-direction:column}
}
