*{
    padding:20px;
  }

  .perfil-box{

    flex-direction:row;

    justify-content:center;
  }

  .foto{

    width:65px;
    height:65px;
  }

  .meses{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);
  }

  .cards{

    grid-template-columns:
    repeat(2,1fr);

    gap:12px;
  }

  .card h2{

    font-size:22px;
  }

  .formulario{

    grid-template-columns:1fr 1fr;
  }

  .formulario input:first-child{

    grid-column:span 2;
  }

  .formulario select:last-of-type{

    grid-column:span 2;
  }

  .formulario button{

    grid-column:span 2;
  }

  .graficos{

    grid-template-columns:1fr;
  }

  .grafico-card{

    height:220px;
  }

  table{

    min-width:650px;
  }

  .login-box{

    width:90%;
  }
}
